<!-- ========== Menu ========== -->
<div class="app-menu">

    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a href="index" class="logo-light">
            <img src="assets/images/logo-light.png" alt="logo" class="logo-lg">
            <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
        </a>

        <!-- Brand Logo Dark -->
        <a href="index" class="logo-dark">
            <img src="assets/images/logo-dark.png" alt="dark logo" class="logo-lg">
            <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
        </a>
    </div>

    <!-- menu-left -->
    <div class="scrollbar">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle avatar-md">
            <div class="dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle h5 mb-1 d-block" data-bs-toggle="dropdown">Geneva Kennedy</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock me-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-log-out me-1"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>
            <p class="text-muted mb-0">Admin Head</p>
        </div>

        <!--- Menu -->
        <ul class="menu">

            <li class="menu-title">Navigation</li>

            <li class="menu-item">
                <a href="#menuDashboards" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-view-dashboard-outline"></i></span>
                    <span class="menu-text"> Dashboards </span>
                    <span class="badge bg-success rounded-pill ms-auto">4</span>
                </a>
                <div class="collapse" id="menuDashboards">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="index" class="menu-link">
                                <span class="menu-text">Dashboard 1</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-2" class="menu-link">
                                <span class="menu-text">Dashboard 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-3" class="menu-link">
                                <span class="menu-text">Dashboard 3</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="dashboard-4" class="menu-link">
                                <span class="menu-text">Dashboard 4</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-title">Apps</li>

            <li class="menu-item">
                <a href="apps-calendar" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-calendar"></i></span>
                    <span class="menu-text"> Calendar </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="apps-chat" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-forum-outline"></i></span>
                    <span class="menu-text"> Chat </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuEcommerce" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-cart-outline"></i></span>
                    <span class="menu-text"> Ecommerce </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuEcommerce">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="ecommerce-dashboard" class="menu-link">
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-products" class="menu-link">
                                <span class="menu-text">Products</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-product-detail" class="menu-link">
                                <span class="menu-text">Product Detail</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-product-edit" class="menu-link">
                                <span class="menu-text">Add Product</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-customers" class="menu-link">
                                <span class="menu-text">Customers</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-orders" class="menu-link">
                                <span class="menu-text">Orders</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-order-detail" class="menu-link">
                                <span class="menu-text">Order Detail</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-sellers" class="menu-link">
                                <span class="menu-text">Sellers</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-cart" class="menu-link">
                                <span class="menu-text">Shopping Cart</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ecommerce-checkout" class="menu-link">
                                <span class="menu-text">Checkout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuCrm" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-account-multiple-outline"></i></span>
                    <span class="menu-text"> CRM </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuCrm">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="crm-dashboard" class="menu-link">
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-contacts" class="menu-link">
                                <span class="menu-text">Contacts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-opportunities" class="menu-link">
                                <span class="menu-text">Opportunities</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-leads" class="menu-link">
                                <span class="menu-text">Leads</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="crm-customers" class="menu-link">
                                <span class="menu-text">Customers</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuEmail" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-email-multiple-outline"></i></span>
                    <span class="menu-text"> Email </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuEmail">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="email-inbox" class="menu-link">
                                <span class="menu-text">Inbox</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-read" class="menu-link">
                                <span class="menu-text">Read Email</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-compose" class="menu-link">
                                <span class="menu-text">Compose Email</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="email-templates" class="menu-link">
                                <span class="menu-text">Email Templates</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="apps-social-feed" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-rss"></i></span>
                    <span class="menu-text"> Social Feed </span>
                    <span class="badge bg-pink ms-auto">Hot</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="apps-companies" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-domain"></i></span>
                    <span class="menu-text"> Companies </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuProjects" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-briefcase-check-outline"></i></span>
                    <span class="menu-text"> Projects </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuProjects">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="project-list" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="project-detail" class="menu-link">
                                <span class="menu-text">Detail</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="project-create" class="menu-link">
                                <span class="menu-text">Create Project</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuTasks" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-clipboard-multiple-outline"></i></span>
                    <span class="menu-text"> Tasks </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuTasks">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="task-list" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="task-details" class="menu-link">
                                <span class="menu-text">Details</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="task-kanban-board" class="menu-link">
                                <span class="menu-text">Kanban Board</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuContacts" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-book-account-outline"></i></span>
                    <span class="menu-text"> Contacts </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuContacts">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="contacts-list" class="menu-link">
                                <span class="menu-text">Members List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="contacts-profile" class="menu-link">
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuTickets" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-lifebuoy"></i></span>
                    <span class="menu-text"> Tickets </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuTickets">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tickets-list" class="menu-link">
                                <span class="menu-text">List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tickets-detail" class="menu-link">
                                <span class="menu-text">Detail</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="apps-file-manager" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-folder-star-outline"></i></span>
                    <span class="menu-text"> File Manager </span>
                </a>
            </li>

            <li class="menu-title">Custom</li>

            <li class="menu-item">
                <a href="#menuAuth" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-account-circle-outline"></i></span>
                    <span class="menu-text"> Auth Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse collapse-md" id="menuAuth">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="auth-login" class="menu-link">
                                <span class="menu-text">Log In</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-login-2" class="menu-link">
                                <span class="menu-text">Log In 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-register" class="menu-link">
                                <span class="menu-text">Register</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-register-2" class="menu-link">
                                <span class="menu-text">Register 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-signin-signup" class="menu-link">
                                <span class="menu-text">Signin - Signup</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-signin-signup-2" class="menu-link">
                                <span class="menu-text">Signin - Signup 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-recoverpw" class="menu-link">
                                <span class="menu-text">Recover Password</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-recoverpw-2" class="menu-link">
                                <span class="menu-text">Recover Password 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-lock-screen" class="menu-link">
                                <span class="menu-text">Lock Screen</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-lock-screen-2" class="menu-link">
                                <span class="menu-text">Lock Screen 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-logout" class="menu-link">
                                <span class="menu-text">Logout</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-logout-2" class="menu-link">
                                <span class="menu-text">Logout 2</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-confirm-mail" class="menu-link">
                                <span class="menu-text">Confirm Mail</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="auth-confirm-mail-2" class="menu-link">
                                <span class="menu-text">Confirm Mail 2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuExpages" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-text-box-multiple-outline"></i></span>
                    <span class="menu-text"> Extra Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuExpages">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="pages-starter" class="menu-link">
                                <span class="menu-text">Starter</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-timeline" class="menu-link">
                                <span class="menu-text">Timeline</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-sitemap" class="menu-link">
                                <span class="menu-text">Sitemap</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-invoice" class="menu-link">
                                <span class="menu-text">Invoice</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-faqs" class="menu-link">
                                <span class="menu-text">FAQs</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-search-results" class="menu-link">
                                <span class="menu-text">Search Results</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-pricing" class="menu-link">
                                <span class="menu-text">Pricing</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-maintenance" class="menu-link">
                                <span class="menu-text">Maintenance</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-coming-soon" class="menu-link">
                                <span class="menu-text">Coming Soon</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-gallery" class="menu-link">
                                <span class="menu-text">Gallery</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-404" class="menu-link">
                                <span class="menu-text">Error 404</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-404-two" class="menu-link">
                                <span class="menu-text">Error 404 Two</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-404-alt" class="menu-link">
                                <span class="menu-text">Error 404-alt</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-500" class="menu-link">
                                <span class="menu-text">Error 500</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="pages-500-two" class="menu-link">
                                <span class="menu-text">Error 500 Two</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuLayouts" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-cellphone-link"></i></span>
                    <span class="menu-text"> Layouts </span>
                    <span class="badge bg-blue ms-auto">New</span>
                </a>
                <div class="collapse" id="menuLayouts">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="layouts-horizontal" target="_blank" class="menu-link">
                                <span class="menu-text">Horizontal</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="layouts-detached" target="_blank" class="menu-link">
                                <span class="menu-text">Detached</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="layouts-two-column" target="_blank" class="menu-link">
                                <span class="menu-text">Two Column Menu</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="layouts-two-tone-icons" target="_blank" class="menu-link">
                                <span class="menu-text">Two Tones Icons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="layouts-preloader" target="_blank" class="menu-link">
                                <span class="menu-text">Preloader</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-title">Components</li>

            <li class="menu-item">
                <a href="#menuBaseui" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-black-mesa"></i></span>
                    <span class="menu-text"> Base UI </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse collapse-md" id="menuBaseui">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="ui-buttons" class="menu-link">
                                <span class="menu-text">Buttons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-cards" class="menu-link">
                                <span class="menu-text">Cards</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-avatars" class="menu-link">
                                <span class="menu-text">Avatars</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-portlets" class="menu-link">
                                <span class="menu-text">Portlets</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-tabs-accordions" class="menu-link">
                                <span class="menu-text">Tabs & Accordions</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-modals" class="menu-link">
                                <span class="menu-text">Modals</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-progress" class="menu-link">
                                <span class="menu-text">Progress</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-notifications" class="menu-link">
                                <span class="menu-text">Notifications</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-offcanvas" class="menu-link">
                                <span class="menu-text">Offcanvas</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-placeholders" class="menu-link">
                                <span class="menu-text">Placeholders</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-spinners" class="menu-link">
                                <span class="menu-text">Spinners</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-images" class="menu-link">
                                <span class="menu-text">Images</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-carousel" class="menu-link">
                                <span class="menu-text">Carousel</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-list-group" class="menu-link">
                                <span class="menu-text">List Group</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-video" class="menu-link">
                                <span class="menu-text">Embed Video</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-dropdowns" class="menu-link">
                                <span class="menu-text">Dropdowns</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-ribbons" class="menu-link">
                                <span class="menu-text">Ribbons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-tooltips-popovers" class="menu-link">
                                <span class="menu-text">Tooltips & Popovers</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-general" class="menu-link">
                                <span class="menu-text">General UI</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-typography" class="menu-link">
                                <span class="menu-text">Typography</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="ui-grid" class="menu-link">
                                <span class="menu-text">Grid</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuExtendedui" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-layers-outline"></i></span>
                    <span class="menu-text"> Extended UI </span>
                    <span class="badge bg-info ms-auto">Hot</span>
                </a>
                <div class="collapse" id="menuExtendedui">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="extended-nestable" class="menu-link">
                                <span class="menu-text">Nestable List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-range-slider" class="menu-link">
                                <span class="menu-text">Range Slider</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-dragula" class="menu-link">
                                <span class="menu-text">Dragula</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-animation" class="menu-link">
                                <span class="menu-text">Animation</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-sweet-alert" class="menu-link">
                                <span class="menu-text">Sweet Alert</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-tour" class="menu-link">
                                <span class="menu-text">Tour Page</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-scrollspy" class="menu-link">
                                <span class="menu-text">Scrollspy</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="extended-loading-buttons" class="menu-link">
                                <span class="menu-text">Loading Buttons</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="widgets" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-gift-outline"></i></span>
                    <span class="menu-text"> Widgets </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menuIcons" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-bullseye"></i></span>
                    <span class="menu-text"> Icons </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuIcons">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="icons-material-symbols" class="menu-link">
                                <span class="menu-text">Material Symbols </span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-two-tone" class="menu-link">
                                <span class="menu-text">Two Tone Icons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-feather" class="menu-link">
                                <span class="menu-text">Feather Icons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-mdi" class="menu-link">
                                <span class="menu-text">Material Design Icons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-dripicons" class="menu-link">
                                <span class="menu-text">Dripicons</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-font-awesome" class="menu-link">
                                <span class="menu-text">Font Awesome 5</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-themify" class="menu-link">
                                <span class="menu-text">Themify</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-simple-line" class="menu-link">
                                <span class="menu-text">Simple Line</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="icons-weather" class="menu-link">
                                <span class="menu-text">Weather</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuForms" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-bookmark-multiple-outline"></i></span>
                    <span class="menu-text"> Forms </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuForms">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="forms-elements" class="menu-link">
                                <span class="menu-text">General Elements</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-advanced" class="menu-link">
                                <span class="menu-text">Advanced</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-validation" class="menu-link">
                                <span class="menu-text">Validation</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-pickers" class="menu-link">
                                <span class="menu-text">Pickers</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-wizard" class="menu-link">
                                <span class="menu-text">Wizard</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-masks" class="menu-link">
                                <span class="menu-text">Masks</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-quilljs" class="menu-link">
                                <span class="menu-text">Quilljs Editor</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-file-uploads" class="menu-link">
                                <span class="menu-text">File Uploads</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-x-editable" class="menu-link">
                                <span class="menu-text">X Editable</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="forms-image-crop" class="menu-link">
                                <span class="menu-text">Image Crop</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuTables" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-table"></i></span>
                    <span class="menu-text"> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuTables">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="tables-basic" class="menu-link">
                                <span class="menu-text">Basic Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-datatables" class="menu-link">
                                <span class="menu-text">Data Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-editable" class="menu-link">
                                <span class="menu-text">Editable Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-responsive" class="menu-link">
                                <span class="menu-text">Responsive Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-footables" class="menu-link">
                                <span class="menu-text">FooTable</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-bootstrap" class="menu-link">
                                <span class="menu-text">Bootstrap Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-tablesaw" class="menu-link">
                                <span class="menu-text">Tablesaw Tables</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="tables-jsgrid" class="menu-link">
                                <span class="menu-text">JsGrid Tables</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuCharts" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-poll"></i></span>
                    <span class="menu-text"> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuCharts">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="charts-apex" class="menu-link">
                                <span class="menu-text">Apex Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-flot" class="menu-link">
                                <span class="menu-text">Flot Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-morris" class="menu-link">
                                <span class="menu-text">Morris Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-chartjs" class="menu-link">
                                <span class="menu-text">Chartjs Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-peity" class="menu-link">
                                <span class="menu-text">Peity Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-chartist" class="menu-link">
                                <span class="menu-text">Chartist Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-c3" class="menu-link">
                                <span class="menu-text">C3 Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-sparklines" class="menu-link">
                                <span class="menu-text">Sparklines Charts</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="charts-knob" class="menu-link">
                                <span class="menu-text">Jquery Knob Charts</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuMaps" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-map-outline"></i></span>
                    <span class="menu-text"> Maps </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuMaps">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="maps-google" class="menu-link">
                                <span class="menu-text">Google Maps</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="maps-vector" class="menu-link">
                                <span class="menu-text">Vector Maps</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="maps-mapael" class="menu-link">
                                <span class="menu-text">Mapael Maps</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuMultilevel" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-share-variant"></i></span>
                    <span class="menu-text"> Multi Level </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuMultilevel">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="#menuMultilevel2" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Second Level </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMultilevel2">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="javascript: void(0);" class="menu-link">
                                            <span class="menu-text">Item 1</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="javascript: void(0);" class="menu-link">
                                            <span class="menu-text">Item 2</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuMultilevel3" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text">Third Level</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMultilevel3">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="javascript: void(0);" class="menu-link">
                                            <span class="menu-text">Item 1</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuMultilevel4" data-bs-toggle="collapse" class="menu-link">
                                            <span class="menu-text">Item 2</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMultilevel4">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 1</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!--- End Menu -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left menu End ========== -->