<%- contentFor('HeaderCss') %>

	<!-- JsGrid css -->
	<link href="assets/libs/jsgrid/jsgrid.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/libs/jsgrid/jsgrid-theme.min.css" rel="stylesheet" type="text/css"/>

<%- contentFor('body') %>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div id="jsGrid"></div>
				</div>
			</div>
		</div>
	</div>
<%- contentFor('FooterJs') %>
	<!-- JsGrid js -->
	<script src="assets/libs/jsgrid/jsgrid.min.js"></script>

	<!-- Init js -->
	<script src="assets/js/pages/jsgrid.init.js"></script>