<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="sidebar-icon-menu">
        <!-- LOGO -->
        <div class="logo-box">
            <!-- Brand Logo Light -->
            <a href="/">
                <img src="assets/images/logo-sm.png" alt="small logo" height="28">
            </a>
        </div>
        
        <div class="h-100" data-simplebar>
            <ul class="menu" id="two-col-sidenav-main">
                <li class="menu-item">
                    <a href="#dashboard" data-bs-title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="home"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#apps" data-bs-title="Apps" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="grid"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#pages" data-bs-title="Pages" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="file-text"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#layouts" data-bs-title="Layouts" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="layout"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#ui-elements" data-bs-title="UI Elements" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="briefcase"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#components" data-bs-title="Components" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="package"></i></span>
                    </a>
                </li>

                <li class="menu-item">
                    <a href="#widgets" data-bs-title="Widgets" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" class="menu-link">
                        <span class="menu-icon"><i data-feather="gift"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--- Menu -->
    <div class="app-menu">
        <!-- Brand Logo -->
        <div class="logo-box">
            <!-- Brand Logo Light -->
            <a href="/" class="logo-light">
                <img src="assets/images/logo-light-2.png" alt="logo" class="logo-lg">
                <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
            </a>

            <!-- Brand Logo Dark -->
            <a href="/" class="logo-dark">
                <img src="assets/images/logo-dark-2.png" alt="dark logo" class="logo-lg">
                <img src="assets/images/logo-sm.png" alt="small logo" class="logo-sm">
            </a>
        </div>

        <div id="two-col-menu" class="h-100" data-simplebar>
            <div class="twocolumn-menu-item d-block" id="dashboard">
                <ul class="menu">
                    <li class="menu-title">Dashboards</li>
                    <li class="menu-item">
                        <a href="/" class="menu-link">
                            <span class="menu-text">Dashboard 1</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboard-2" class="menu-link">
                            <span class="menu-text">Dashboard 2</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboard-3" class="menu-link">
                            <span class="menu-text">Dashboard 3</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="dashboard-4" class="menu-link">
                            <span class="menu-text">Dashboard 4</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="twocolumn-menu-item" id="apps">
                <ul class="menu">
                    <li class="menu-title">Apps</li>
                    <li class="menu-item">
                        <a href="apps-calendar" class="menu-link">
                            <span class="menu-text"> Calendar </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="apps-chat" class="menu-link">
                            <span class="menu-text"> Chat </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#menuEcommerce" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Ecommerce </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuEcommerce">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="ecommerce-dashboard" class="menu-link">
                                        <span class="menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-products" class="menu-link">
                                        <span class="menu-text">Products</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-product-detail" class="menu-link">
                                        <span class="menu-text">Product Detail</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-product-edit" class="menu-link">
                                        <span class="menu-text">Add Product</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-customers" class="menu-link">
                                        <span class="menu-text">Customers</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-orders" class="menu-link">
                                        <span class="menu-text">Orders</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-order-detail" class="menu-link">
                                        <span class="menu-text">Order Detail</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-sellers" class="menu-link">
                                        <span class="menu-text">Sellers</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-cart" class="menu-link">
                                        <span class="menu-text">Shopping Cart</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="ecommerce-checkout" class="menu-link">
                                        <span class="menu-text">Checkout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="#menuCrm" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> CRM </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuCrm">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="crm-dashboard" class="menu-link">
                                        <span class="menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="crm-contacts" class="menu-link">
                                        <span class="menu-text">Contacts</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="crm-opportunities" class="menu-link">
                                        <span class="menu-text">Opportunities</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="crm-leads" class="menu-link">
                                        <span class="menu-text">Leads</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="crm-customers" class="menu-link">
                                        <span class="menu-text">Customers</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="#menuEmail" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Email </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuEmail">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="email-inbox" class="menu-link">
                                        <span class="menu-text">Inbox</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="email-read" class="menu-link">
                                        <span class="menu-text">Read Email</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="email-compose" class="menu-link">
                                        <span class="menu-text">Compose Email</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="email-templates" class="menu-link">
                                        <span class="menu-text">Email Templates</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="apps-social-feed" class="menu-link">
                            <span class="menu-text"> Social Feed </span>
                            <span class="badge bg-pink ms-auto">Hot</span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="apps-companies" class="menu-link">
                            <span class="menu-text"> Companies </span>
                        </a>
                    </li>

                    <li class="menu-item">
                        <a href="#menuProjects" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Projects </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuProjects">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="project-list" class="menu-link">
                                        <span class="menu-text">List</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="project-detail" class="menu-link">
                                        <span class="menu-text">Detail</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="project-create" class="menu-link">
                                        <span class="menu-text">Create Project</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="#menuTasks" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Tasks </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuTasks">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="task-list" class="menu-link">
                                        <span class="menu-text">List</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="task-details" class="menu-link">
                                        <span class="menu-text">Details</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="task-kanban-board" class="menu-link">
                                        <span class="menu-text">Kanban Board</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="#menuContacts" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Contacts </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuContacts">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="contacts-list" class="menu-link">
                                        <span class="menu-text">Members List</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="contacts-profile" class="menu-link">
                                        <span class="menu-text">Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="#menuTickets" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Tickets </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="menuTickets">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="tickets-list" class="menu-link">
                                        <span class="menu-text">List</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="tickets-detail" class="menu-link">
                                        <span class="menu-text">Detail</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item">
                        <a href="apps-file-manager" class="menu-link">
                            <span class="menu-text"> File Manager </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="twocolumn-menu-item" id="pages">
                <ul class="menu">
                    <li class="menu-title">Pages</li>
                    <li class="menu-item">
                        <a href="pages-starter" class="menu-link">
                            <span class="menu-text">Starter</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-timeline" class="menu-link">
                            <span class="menu-text">Timeline</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-sitemap" class="menu-link">
                            <span class="menu-text">Sitemap</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-invoice" class="menu-link">
                            <span class="menu-text">Invoice</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-faqs" class="menu-link">
                            <span class="menu-text">FAQs</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-search-results" class="menu-link">
                            <span class="menu-text">Search Results</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-pricing" class="menu-link">
                            <span class="menu-text">Pricing</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-maintenance" class="menu-link">
                            <span class="menu-text">Maintenance</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-coming-soon" class="menu-link">
                            <span class="menu-text">Coming Soon</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-gallery" class="menu-link">
                            <span class="menu-text">Gallery</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-404" class="menu-link">
                            <span class="menu-text">Error 404</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-404-two" class="menu-link">
                            <span class="menu-text">Error 404 Two</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-404-alt" class="menu-link">
                            <span class="menu-text">Error 404-alt</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-500" class="menu-link">
                            <span class="menu-text">Error 500</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="pages-500-two" class="menu-link">
                            <span class="menu-text">Error 500 Two</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#menuAuth" data-bs-toggle="collapse" class="menu-link">
                            <span class="menu-text"> Auth Pages </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse collapse-md" id="menuAuth">
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="auth-login" class="menu-link">
                                        <span class="menu-text">Log In</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-login-2" class="menu-link">
                                        <span class="menu-text">Log In 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-register" class="menu-link">
                                        <span class="menu-text">Register</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-register-2" class="menu-link">
                                        <span class="menu-text">Register 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-signin-signup" class="menu-link">
                                        <span class="menu-text">Signin - Signup</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-signin-signup-2" class="menu-link">
                                        <span class="menu-text">Signin - Signup 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-recoverpw" class="menu-link">
                                        <span class="menu-text">Recover Password</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-recoverpw-2" class="menu-link">
                                        <span class="menu-text">Recover Password 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-lock-screen" class="menu-link">
                                        <span class="menu-text">Lock Screen</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-lock-screen-2" class="menu-link">
                                        <span class="menu-text">Lock Screen 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-logout" class="menu-link">
                                        <span class="menu-text">Logout</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-logout-2" class="menu-link">
                                        <span class="menu-text">Logout 2</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-confirm-mail" class="menu-link">
                                        <span class="menu-text">Confirm Mail</span>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="auth-confirm-mail-2" class="menu-link">
                                        <span class="menu-text">Confirm Mail 2</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="twocolumn-menu-item" id="layouts">
                <ul class="menu">
                    <li class="menu-title">Layouts</li>
                    <li class="menu-item">
                        <a href="layouts-vertical" target="_blank" class="menu-link">
                            <span class="menu-text">Vertical</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layouts-horizontal" target="_blank" class="menu-link">
                            <span class="menu-text">Horizontal</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layouts-detached" target="_blank" class="menu-link">
                            <span class="menu-text">Detached</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layouts-two-column" target="_blank" class="menu-link">
                            <span class="menu-text">Two Column Menu</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layouts-two-tone-icons" target="_blank" class="menu-link">
                            <span class="menu-text">Two Tones Icons</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="layouts-preloader" target="_blank" class="menu-link">
                            <span class="menu-text">Preloader</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="twocolumn-menu-item" id="ui-elements">
                <ul class="menu">
                    <li class="menu-title">UI Elements</li>
                    <li class="menu-item">
                        <a href="ui-buttons" class="menu-link">
                            <span class="menu-text">Buttons</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-cards" class="menu-link">
                            <span class="menu-text">Cards</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-avatars" class="menu-link">
                            <span class="menu-text">Avatars</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-portlets" class="menu-link">
                            <span class="menu-text">Portlets</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-tabs-accordions" class="menu-link">
                            <span class="menu-text">Tabs & Accordions</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-modals" class="menu-link">
                            <span class="menu-text">Modals</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-progress" class="menu-link">
                            <span class="menu-text">Progress</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-notifications" class="menu-link">
                            <span class="menu-text">Notifications</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-offcanvas" class="menu-link">
                            <span class="menu-text">Offcanvas</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-placeholders" class="menu-link">
                            <span class="menu-text">Placeholders</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-spinners" class="menu-link">
                            <span class="menu-text">Spinners</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-images" class="menu-link">
                            <span class="menu-text">Images</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-carousel" class="menu-link">
                            <span class="menu-text">Carousel</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-list-group" class="menu-link">
                            <span class="menu-text">List Group</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-video" class="menu-link">
                            <span class="menu-text">Embed Video</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-dropdowns" class="menu-link">
                            <span class="menu-text">Dropdowns</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-ribbons" class="menu-link">
                            <span class="menu-text">Ribbons</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-tooltips-popovers" class="menu-link">
                            <span class="menu-text">Tooltips & Popovers</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-general" class="menu-link">
                            <span class="menu-text">General UI</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-typography" class="menu-link">
                            <span class="menu-text">Typography</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="ui-grid" class="menu-link">
                            <span class="menu-text">Grid</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="twocolumn-menu-item" id="components">
                <div class="title-box">
                    <ul class="menu">
                        <li class="menu-title">Components</li>
                        <li class="menu-item">
                            <a href="#menuExtendedui" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Extended UI </span>
                                <span class="badge bg-info ms-auto">Hot</span>
                            </a>
                            <div class="collapse" id="menuExtendedui">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="extended-nestable" class="menu-link">
                                            <span class="menu-text">Nestable List</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-range-slider" class="menu-link">
                                            <span class="menu-text">Range Slider</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-dragula" class="menu-link">
                                            <span class="menu-text">Dragula</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-animation" class="menu-link">
                                            <span class="menu-text">Animation</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-sweet-alert" class="menu-link">
                                            <span class="menu-text">Sweet Alert</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-tour" class="menu-link">
                                            <span class="menu-text">Tour Page</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-scrollspy" class="menu-link">
                                            <span class="menu-text">Scrollspy</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="extended-loading-buttons" class="menu-link">
                                            <span class="menu-text">Loading Buttons</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuIcons" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Icons </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuIcons">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="icons-material-symbols" class="menu-link">
                                            <span class="menu-text">Material Symbols </span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-two-tone" class="menu-link">
                                            <span class="menu-text">Two Tone Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-feather" class="menu-link">
                                            <span class="menu-text">Feather Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-mdi" class="menu-link">
                                            <span class="menu-text">Material Design Icons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-dripicons" class="menu-link">
                                            <span class="menu-text">Dripicons</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-font-awesome" class="menu-link">
                                            <span class="menu-text">Font Awesome 5</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-themify" class="menu-link">
                                            <span class="menu-text">Themify</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-simple-line" class="menu-link">
                                            <span class="menu-text">Simple Line</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="icons-weather" class="menu-link">
                                            <span class="menu-text">Weather</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuForms" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Forms </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuForms">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="forms-elements" class="menu-link">
                                            <span class="menu-text">General Elements</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-advanced" class="menu-link">
                                            <span class="menu-text">Advanced</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-validation" class="menu-link">
                                            <span class="menu-text">Validation</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-pickers" class="menu-link">
                                            <span class="menu-text">Pickers</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-wizard" class="menu-link">
                                            <span class="menu-text">Wizard</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-masks" class="menu-link">
                                            <span class="menu-text">Masks</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-quilljs" class="menu-link">
                                            <span class="menu-text">Quilljs Editor</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-file-uploads" class="menu-link">
                                            <span class="menu-text">File Uploads</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-x-editable" class="menu-link">
                                            <span class="menu-text">X Editable</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="forms-image-crop" class="menu-link">
                                            <span class="menu-text">Image Crop</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuTables" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Tables </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuTables">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="tables-basic" class="menu-link">
                                            <span class="menu-text">Basic Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-datatables" class="menu-link">
                                            <span class="menu-text">Data Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-editable" class="menu-link">
                                            <span class="menu-text">Editable Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-responsive" class="menu-link">
                                            <span class="menu-text">Responsive Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-footables" class="menu-link">
                                            <span class="menu-text">FooTable</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-bootstrap" class="menu-link">
                                            <span class="menu-text">Bootstrap Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-tablesaw" class="menu-link">
                                            <span class="menu-text">Tablesaw Tables</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="tables-jsgrid" class="menu-link">
                                            <span class="menu-text">JsGrid Tables</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuCharts" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Charts </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuCharts">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="charts-apex" class="menu-link">
                                            <span class="menu-text">Apex Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-flot" class="menu-link">
                                            <span class="menu-text">Flot Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-morris" class="menu-link">
                                            <span class="menu-text">Morris Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-chartjs" class="menu-link">
                                            <span class="menu-text">Chartjs Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-peity" class="menu-link">
                                            <span class="menu-text">Peity Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-chartist" class="menu-link">
                                            <span class="menu-text">Chartist Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-c3" class="menu-link">
                                            <span class="menu-text">C3 Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-sparklines" class="menu-link">
                                            <span class="menu-text">Sparklines Charts</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="charts-knob" class="menu-link">
                                            <span class="menu-text">Jquery Knob Charts</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuMaps" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Maps </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMaps">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="maps-google" class="menu-link">
                                            <span class="menu-text">Google Maps</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="maps-vector" class="menu-link">
                                            <span class="menu-text">Vector Maps</span>
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="maps-mapael" class="menu-link">
                                            <span class="menu-text">Mapael Maps</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="menu-item">
                            <a href="#menuMultilevel" data-bs-toggle="collapse" class="menu-link">
                                <span class="menu-text"> Multi Level </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuMultilevel">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="#menuMultilevel2" data-bs-toggle="collapse" class="menu-link">
                                            <span class="menu-text"> Second Level </span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMultilevel2">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 1</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="menu-item">
                                        <a href="#menuMultilevel3" data-bs-toggle="collapse" class="menu-link">
                                            <span class="menu-text">Third Level</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMultilevel3">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="javascript: void(0);" class="menu-link">
                                                        <span class="menu-text">Item 1</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#menuMultilevel4" data-bs-toggle="collapse" class="menu-link">
                                                        <span class="menu-text">Item 2</span>
                                                        <span class="menu-arrow"></span>
                                                    </a>
                                                    <div class="collapse" id="menuMultilevel4">
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="javascript: void(0);" class="menu-link">
                                                                    <span class="menu-text">Item 1</span>
                                                                </a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="javascript: void(0);" class="menu-link">
                                                                    <span class="menu-text">Item 2</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="twocolumn-menu-item" id="widgets">
                <ul class="menu">
                    <li class="menu-title">Other Page</li>
                    <li class="menu-item">
                        <a href="widgets" class="menu-link">
                            <span class="menu-text">Widgets</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>

</div>
<!-- Left Sidebar End -->